.alert {
    margin: 10px; 
    padding: 15px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 15px;
}
.alert-fit {
    width: fit-content;
}
.alert-block {
    width: 90%;
}
.alert-success {
    border-color: #00b33c;
    background: #75ffa3;
    color: #00802b;
}
.alert-danger {
    border-color: #b30000;
    background: #ff7575;
    color: #800000;
}
.alert-primary {
    border-color: #008fb3;
    background: #75b1ff;
    color: #004d80;
}